@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>


@*<p>@Html.ActionLink(http://host/service.svc/Type?$orderby=Animals.Type asc)</p>*@
@*<h1>  VWWD's Best Restaurant!</h1>
orderByQueryOption = "$orderby" [type] "=" [type] commonExpression [type] [asc / desc]
                      @* ( "," [type]  commonExpression [type] [asc])*@